body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;

}

hr {
    background-color: aqua;
}

main {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 15px;
}

.inputSelector {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    margin: 10px;
}

.botonBuscar {
    width: 250px;
    height: 40px;
    padding: 5px;
    background-color: rgb(173, 221, 230);
    color: white;
    border-radius: 5px;
}

section {

        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;

  
}

.grafico {
    background-color: white;
    width: 800px;
    height: 300px;

}